
<div class="text-center mt-3 mb-3">
	<form>
		<i aria-hidden="true" class="fa fa-search">&NonBreakingSpace;</i>

		<input
			class="rounded"
			type="search"
			placeholder="search for description..."
			autofocus
			(keyup)="debouncer.next($any($event.target).value)"
		>
		<!--	nex() feeds a new value to the Subject debouncer-->
	</form>
</div>

<app-photo-grid
	[photos]="photos | filterByDescription: filter"
></app-photo-grid>

<app-load-button	[hasMoreItens]="hasMorePhotos"
					(click)="load()">
</app-load-button>