<p 
	class="text-center text-muted"
	*ngIf="!photos.length"
	>
	Sorry, no photos to be displayed
</p>
	
	<ol class="list-unstyled row">
		<li *ngFor="let cols of rows" class="row no-gutters">
			<div *ngFor="let photo of cols" class="col-4" appDarkenOnHover brightness="75%">
				<app-card [title]="photo.description">
					<ap-photo
						[url]="photo.url"
						[description]="photo.description"
					></ap-photo>

					<div class="text-center">
						<i aria-hidden="true"	class="fa fa-heart-o fa-1x mr-2">{{photo.likes}}</i> &NonBreakingSpace;
						<i aria-hidden="true"	class="fa fa-comment-o fa-1x mr-2 ml-2">{{photo.comments}}</i>
					</div>
					<div class="text-center">
						<h6>{{photo.description}}</h6>
					</div>
					<br>
				</app-card>
			</div>
		</li>
	</ol>